.NavMenu {
  align-items: center;
  padding: 0 36px;
}

.NavItem {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.NavItem img {
  width: 25px;
  padding: 0 5px 5px 0;
}

.NavItem span {
  padding-bottom: 5px;
  color: white;
}

.NavItem span:hover {
  border-bottom: 2px solid white;
}

.Avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}
