* {
  box-sizing: border-box;
}

.NavMenu {
  align-items: center;
  padding: 0 36px;
}

.NavItem {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.NavItem img {
  width: 25px;
  padding: 0 5px 5px 0;
}

.NavItem span {
  padding-bottom: 5px;
  color: white;
}

.NavItem span:hover {
  border-bottom: 2px solid white;
}

.Avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.Home {
  min-height: calc(100vh - 70px);
  padding: 0 calc(3.5vw + 5px);
  position: relative;
  overflow-x: hidden;
}

.Home::before {
  background: url("/public/images/home-background.png") center center no-repeat
    fixed;
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.imageSlider {
  cursor: pointer;
  border: 4px solid transparent;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition-duration: 300ms;
}

.imageSlider:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}
